	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/06/2018 11:07
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"],
[class^="flaticon-"] {   
  font-family: Flaticon;
        font-size: 80px;
font-style: normal;
margin-left: 20px;


border: 2px solid #20638f;
color: #20638f;
padding: 5%;
border-radius: 50%;
}

[class^="flaticon-"]:hover,
[class^="flaticon-"]:hover {
  background-color: #20638f;
  color: #fff;
}

[class^="flaticon2-"],
[class^="flaticon2-"] {   
  font-family: Flaticon;
        font-size: 100px;
font-style: normal;
margin-left: 20px;

}


.flaticon-001-flip-flops-1:before { content: "\f100"; }
.flaticon-002-flip-flops:before { content: "\f101"; }
.flaticon-003-shoe-3:before { content: "\f102"; }
.flaticon-004-shoes-3:before { content: "\f103"; }
.flaticon-005-shoes-2:before { content: "\f104"; }
.flaticon-006-shoes-1:before { content: "\f105"; }
.flaticon-007-ballerina:before { content: "\f106"; }
.flaticon-008-sandals-9:before { content: "\f107"; }
.flaticon-009-sandals-8:before { content: "\f108"; }
.flaticon-010-sandals-7:before { content: "\f109"; }
.flaticon-011-sandals-6:before { content: "\f10a"; }
.flaticon-012-sandals-5:before { content: "\f10b"; }
.flaticon-013-sandals-4:before { content: "\f10c"; }
.flaticon-014-sandals-3:before { content: "\f10d"; }
.flaticon-015-slippers:before { content: "\f10e"; }
.flaticon-016-sandals-2:before { content: "\f10f"; }
.flaticon-017-sandals-1:before { content: "\f110"; }
.flaticon-018-high-heel-8:before { content: "\f111"; }
.flaticon-019-shoe-2:before { content: "\f112"; }
.flaticon-020-sandals:before { content: "\f113"; }
.flaticon-021-high-heels:before { content: "\f114"; }
.flaticon-022-shoes:before { content: "\f115"; }
.flaticon-023-sneakers:before { content: "\f116"; }
.flaticon-024-boot-19:before { content: "\f117"; }
.flaticon-025-boot-18:before { content: "\f118"; }
.flaticon-026-boot-17:before { content: "\f119"; }
.flaticon-027-high-heel-7:before { content: "\f11a"; }
.flaticon-028-high-heel-6:before { content: "\f11b"; }
.flaticon-029-high-heel-5:before { content: "\f11c"; }
.flaticon-030-high-heel-4:before { content: "\f11d"; }
.flaticon-031-high-heel-3:before { content: "\f11e"; }
.flaticon-032-high-heel-2:before { content: "\f11f"; }
.flaticon-033-stiletto:before { content: "\f120"; }
.flaticon-034-mule:before { content: "\f121"; }
.flaticon-035-high-heel-1:before { content: "\f122"; }
.flaticon-036-oxford:before { content: "\f123"; }
.flaticon-037-boot-16:before { content: "\f124"; }
.flaticon-038-high-heel:before { content: "\f125"; }
.flaticon-039-boot-15:before { content: "\f126"; }
.flaticon-040-boot-14:before { content: "\f127"; }
.flaticon-041-boot-13:before { content: "\f128"; }
.flaticon-042-boot-12:before { content: "\f129"; }
.flaticon-043-boot-11:before { content: "\f12a"; }
.flaticon-044-boot-10:before { content: "\f12b"; }
.flaticon-045-boot-9:before { content: "\f12c"; }
.flaticon-046-boot-8:before { content: "\f12d"; }
.flaticon-047-boot-7:before { content: "\f12e"; }
.flaticon-048-boot-6:before { content: "\f12f"; }
.flaticon-049-boot-5:before { content: "\f130"; }
.flaticon-050-boot-4:before { content: "\f131"; }
.flaticon-051-boot-3:before { content: "\f132"; }
.flaticon-052-boot-2:before { content: "\f133"; }
.flaticon-053-boot-1:before { content: "\f134"; }
.flaticon-054-boot:before { content: "\f135"; }
.flaticon-055-sneaker:before { content: "\f136"; }
.flaticon-056-running-shoe-1:before { content: "\f137"; }
.flaticon-057-running-shoe:before { content: "\f138"; }
.flaticon-058-soccer-shoe:before { content: "\f139"; }
.flaticon-059-shoe-1:before { content: "\f13a"; }
.flaticon-060-shoe:before { content: "\f13b"; }


/*CUSTOM FOR EXTRAS ON WEBSITE*/

.flaticon2-001-flip-flops-1:before { content: "\f100"; }
.flaticon2-002-flip-flops:before { content: "\f101"; }
.flaticon2-003-shoe-3:before { content: "\f102"; }
.flaticon2-004-shoes-3:before { content: "\f103"; }
.flaticon2-005-shoes-2:before { content: "\f104"; }
.flaticon2-006-shoes-1:before { content: "\f105"; }
.flaticon2-007-ballerina:before { content: "\f106"; }
.flaticon2-008-sandals-9:before { content: "\f107"; }
.flaticon2-009-sandals-8:before { content: "\f108"; }
.flaticon2-010-sandals-7:before { content: "\f109"; }
.flaticon2-011-sandals-6:before { content: "\f10a"; }
.flaticon2-012-sandals-5:before { content: "\f10b"; }
.flaticon2-013-sandals-4:before { content: "\f10c"; }
.flaticon2-014-sandals-3:before { content: "\f10d"; }
.flaticon2-015-slippers:before { content: "\f10e"; }
.flaticon2-016-sandals-2:before { content: "\f10f"; }
.flaticon2-017-sandals-1:before { content: "\f110"; }
.flaticon2-018-high-heel-8:before { content: "\f111"; }
.flaticon2-019-shoe-2:before { content: "\f112"; }
.flaticon2-020-sandals:before { content: "\f113"; }
.flaticon2-021-high-heels:before { content: "\f114"; }
.flaticon2-022-shoes:before { content: "\f115"; }
.flaticon2-023-sneakers:before { content: "\f116"; }
.flaticon2-024-boot-19:before { content: "\f117"; }
.flaticon2-025-boot-18:before { content: "\f118"; }
.flaticon2-026-boot-17:before { content: "\f119"; }
.flaticon2-027-high-heel-7:before { content: "\f11a"; }
.flaticon2-028-high-heel-6:before { content: "\f11b"; }
.flaticon2-029-high-heel-5:before { content: "\f11c"; }
.flaticon2-030-high-heel-4:before { content: "\f11d"; }
.flaticon2-031-high-heel-3:before { content: "\f11e"; }
.flaticon2-032-high-heel-2:before { content: "\f11f"; }
.flaticon2-033-stiletto:before { content: "\f120"; }
.flaticon2-034-mule:before { content: "\f121"; }
.flaticon2-035-high-heel-1:before { content: "\f122"; }
.flaticon2-036-oxford:before { content: "\f123"; }
.flaticon2-037-boot-16:before { content: "\f124"; }
.flaticon2-038-high-heel:before { content: "\f125"; }
.flaticon2-039-boot-15:before { content: "\f126"; }
.flaticon2-040-boot-14:before { content: "\f127"; }
.flaticon2-041-boot-13:before { content: "\f128"; }
.flaticon2-042-boot-12:before { content: "\f129"; }
.flaticon2-043-boot-11:before { content: "\f12a"; }
.flaticon2-044-boot-10:before { content: "\f12b"; }
.flaticon2-045-boot-9:before { content: "\f12c"; }
.flaticon2-046-boot-8:before { content: "\f12d"; }
.flaticon2-047-boot-7:before { content: "\f12e"; }
.flaticon2-048-boot-6:before { content: "\f12f"; }
.flaticon2-049-boot-5:before { content: "\f130"; }
.flaticon2-050-boot-4:before { content: "\f131"; }
.flaticon2-051-boot-3:before { content: "\f132"; }
.flaticon2-052-boot-2:before { content: "\f133"; }
.flaticon2-053-boot-1:before { content: "\f134"; }
.flaticon2-054-boot:before { content: "\f135"; }
.flaticon2-055-sneaker:before { content: "\f136"; }
.flaticon2-056-running-shoe-1:before { content: "\f137"; }
.flaticon2-057-running-shoe:before { content: "\f138"; }
.flaticon2-058-soccer-shoe:before { content: "\f139"; }
.flaticon2-059-shoe-1:before { content: "\f13a"; }
.flaticon2-060-shoe:before { content: "\f13b"; }